@model VideoGameAddRequest

@{
    ViewBag.Title = "Create";
}

<div><a asp-controller="VideoGames" asp-action="Index">Back to Library!</a></div>

<form asp-controller="VideoGames" asp-action="Create" method="post">
    <div class="mt-25">
        <span class="required">@Html.LabelFor(x => x.Title)</span>
        @Html.TextBoxFor(x => x.Title)
    </div>

    <div class="mt-25">
        <span class="required">@Html.LabelFor(x => x.Genre)</span>
        @Html.DropDownListFor(x => x.Genre, (List<SelectListItem>)ViewBag.Genres)
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.ReleaseDate)
        @Html.EditorFor(x => x.ReleaseDate, "dd/MM/yyyy")
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.Publisher)
        @Html.TextBoxFor(x => x.Publisher)
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.VideoGamePlatformIds)
        @foreach (var platform in ViewBag.VideoGamePlatforms)
        {
            <input type="checkbox" name="VideoGamePlatformIds" value="@platform.Id" id="@platform.Id" />
            <span>
                <label for="@platform.Id">
                    @platform.Name
                </label>
            </span>
        }
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.IsMultiplayer)
        @Html.CheckBoxFor(x => x.IsMultiplayer)
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.IsCoop)
        @Html.CheckBoxFor(x => x.IsCoop)
    </div>

    <div class="mt-35">
        <button type="submit">Create game!</button>
    </div>

    <div asp-validation-summary="All" class="danger"></div>
</form>

@section validationScripts {
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}