@model VideoGameResponse

@{
    ViewBag.Title = "Delete";
}

<div><a asp-controller="VideoGames" asp-action="Index">Back to Library!</a></div>

<form asp-controller="VideoGames" asp-action="Delete" method="post">
    <div class="display-none">
        @Html.HiddenFor(x => x.Id);
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { disabled="disabled"})
    </div>

    <div class="mt-25">
        @Html.LabelFor(x => x.Genre)
        @Html.TextBoxFor(x => x.Genre, new { disabled="disabled"})
    </div>

    <div class="mt-35">
        <button type="submit">Delete game!</button>
    </div>

    <div asp-validation-summary="All" class="danger"></div>
</form>

@section validationScripts {
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}